<html>
<head>
    <title>Powiadomienie o zatrudnieniu użytkownika na platformie</title>
</head>
<body>
<p>Szanowny Panie/Pani Adminie!</p>
<p>Chcieliśmy poinformować, że użytkownik {{studentInfo.firstname}} {{studentInfo.lastname}}, o identyfikatorze {{studentInfo.id}}, został właśnie zatrudniony.
    Jego status został zmieniony na nieaktywny, aby uniemożliwić mu korzystanie z platformy jako kursant.
    Wszelkie szczegóły dotyczące jego konta znajdują się w panelu administracyjnym.</p>
</body>
</html>
