<html>
<head>
    <style>
        body {
            display: flex;
            align-items: center;
            font-family: "Catamaran", sans-serif;
            background-color: #292a2b;
            color: #f7f7f7;
            line-height: 1.5;
            text-align: center;
            padding: 1rem;
            border-radius: .4rem;
            max-width: 800px;
            height: 400px;
        }

        a {
            font-size: 1rem;
            color: #0b8bd4;
            text-decoration: none;
            text-transform: uppercase;
        }

    </style>
    <title>Zmiana hasła w Head Hunter MegaK</title>
</head>
<body>
<p>Witaj,</p>
<p>Otrzymujesz ten e-mail, ponieważ poproszono nas o zmianę Twojego hasła w Head Hunter MegaK. Jeśli to nie Ty chcesz dokonać zmiany, zignoruj ten e-mail.</p>
<p>Jeśli jednak to Ty chcesz zmienić hasło, prosimy kliknąć w poniższy link:</p>
<p><a href="{{resetPasswordLink}}">Zmiana hasła</a></p>
<p>Za chwilę zostaniesz przekierowany na stronę, gdzie będziesz mógł wprowadzić nowe hasło.</p>
<p>Jeśli nie prosiłeś o zmianę hasła, prosimy o niezwłoczny kontakt z naszym zespołem obsługi klienta.</p>
<p>Pozdrawiamy,</p>
<p>Zespół Head Hunter MegaK</p>
</body>
</html>
