<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 10px;
        }
        p {
            margin: 0 0 10px;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    <title>Zmiana hasła w Head Hunter MegaK</title>
</head>
<body>
<h1>Zamiana hasła w Head Hunter MegaK</h1>
<p>Witaj,</p>
<p>Otrzymujesz ten e-mail, ponieważ poproszono nas o zmianę Twojego hasła w Head Hunter MegaK. Jeśli to nie Ty chcesz dokonać zmiany, zignoruj ten e-mail.</p>
<p>Jeśli jednak to Ty chcesz zmienić hasło, prosimy kliknąć w poniższy link:</p>
<p><a href="{{resetPasswordLink}}">Zmiana hasła</a></p>
<p>Za chwilę zostaniesz przekierowany na stronę, gdzie będziesz mógł wprowadzić nowe hasło.</p>
<p>Jeśli nie prosiłeś o zmianę hasła, prosimy o niezwłoczny kontakt z naszym zespołem obsługi klienta.</p>
<p>Pozdrawiamy,</p>
<p>Zespół Head Hunter MegaK</p>
</body>
</html>
