<html>
<head>
    <title>Rejestracja w Head Hunter MegaK</title>
</head>
<body>
<p>Witamy w Head Hunter MegaK!</p>
<p>Aby aktywować swoje konto, proszę kliknąć w poniższy link:</p>
<p><a href={{registrationLink}}>{{registrationLink}}</a></p>
<p>Pozdrawiamy,</p>
<p>Zespół Head Hunter MegaK</p>
</body>
</html>
